@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.modal-menu__container {
  position: fixed;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  top: 0;
  height: 100%;
}

.modal-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 130px 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  -webkit-box-shadow: -5px 0px 23px 0px #0000004b;
  box-shadow: -5px 0px 23px 0px #00000053;
  list-style: none;
}

.modal-menu__item {
  margin-bottom: 20px;
}

.modal-menu__item a {
  text-decoration: none;
  color: #272D38;
  font-size: 18px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 165px;
  height: 48px;
  background: #8EADD5;
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
  border-radius: 8px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 100px;
  max-width: 1080px;
}

.navbar__logo h3 {
  font-size: 20px;
  font-weight: 700;
  color: #272D38;
  text-transform: uppercase;
  z-index: 10;
}

.navbar__menu-bars {
  display: none;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navbar__item {
  margin-right: 44px;
}

.navbar__item:last-child {
  margin-right: 0;
}

.navbar__link {
  font-size: 18px;
  font-weight: 400;
  color: #272D38;
  text-decoration: none;
  text-transform: lowercase;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
}

.hero__content {
  margin-top: 32px;
}

.hero__content h1 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 25px;
  max-width: 540px;
  text-transform: capitalize;
}

.hero__content p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
  max-width: 500px;
  text-transform: capitalize;
}

.hero__image img {
  width: 450px;
  height: 450px;
}

.companies {
  margin: 0 auto;
  max-width: 1080px;
}

.companies small {
  display: block;
  margin: 160px auto 0;
  font-size: 16px;
  color: #667085;
  text-align: center;
  margin-bottom: 20px;
}

.companies .companies__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F6F6F6;
  border-radius: 8px;
  padding: 10px 20px;
  gap: 60px;
  max-width: 915px;
  margin: 0 auto;
}

.branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 140px;
  max-width: 1080px;
}

.branding__image {
  width: 450px;
  height: 450px;
}

.branding__content {
  margin-top: 75px;
  padding-left: 165px;
}

.branding__content h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
  max-width: 435px;
  text-transform: capitalize;
  color: #272D38;
}

.branding__content p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
  max-width: 390px;
  text-transform: capitalize;
  line-height: 27.5px;
}

.custome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 140px;
  max-width: 1080px;
}

.custome__image {
  width: 450px;
  height: 450px;
}

.custome__content {
  margin-top: 80px;
}

.custome__content h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
  max-width: 435px;
  text-transform: capitalize;
  color: #272D38;
}

.custome__content p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
  max-width: 390px;
  text-transform: capitalize;
  line-height: 27.5px;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 140px;
  max-width: 1080px;
}

.testimonials__content h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 38px;
  max-width: 435px;
  text-align: center;
  text-transform: capitalize;
  color: #272D38;
}

.testimonials__content p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #272D38;
}

.testimonials .testimonials__card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .testimonials__card {
  background: #F6F6F6;
  width: 345px;
  padding: 32px;
  margin-right: 15px;
  border-radius: 20px;
}

.testimonials .testimonials__card img {
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
}

.testimonials .testimonials__card p {
  text-align: center;
  margin-bottom: 28px;
  font-size: 18px;
  font-weight: 400;
}

.testimonials .testimonials__card small {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}

.testimonials .testimonials__card:last-child {
  margin-right: 0;
}

.contact__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F6F6;
  max-width: 1065px;
  margin: 0 auto;
  margin-top: 140px;
  border-radius: 20px;
  padding: 0 75px;
}

.contact__image {
  width: 450px;
  height: 450px;
}

.contact__content {
  margin-left: 90px;
}

.contact__content h2 {
  font-size: 48px;
  font-weight: 700;
  max-width: 435px;
  color: #272D38;
  margin-bottom: 16px;
}

.contact__content p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
  max-width: 390px;
  line-height: 27.5px;
}

.footer {
  margin-top: 140px;
  padding: 105px 180px 18px 180px;
  background: #F6F6F6;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__menu h4 {
  margin-bottom: 40px;
}

.footer__menu {
  margin-right: 180px;
  list-style: none;
}

.footer__menu:first-child {
  max-width: 190px;
}

.footer__menu:last-child {
  margin-right: 0;
}

.footer__item {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  font-weight: 300;
}

.footer__copyright {
  text-align: center;
  font-size: 16px;
  margin-top: 110px;
}

@media screen and (max-width: 775px) {
  body {
    overflow-x: hidden;
    z-index: -1;
  }
  .arrow_button {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .arrow_button img {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 100px;
    max-width: 775px;
    margin: 48px 24px 95px 24px;
  }
  .navbar__logo h3 {
    font-size: 14px;
    font-weight: 700;
    color: #272D38;
    text-transform: capitalize;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__menu-bars {
    display: block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    z-index: 100;
  }
  .navbar__menu-bars img {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__content h1 {
    text-align: center;
    font-size: 40px;
    color: #272D38;
    margin: 0 auto;
  }
  .hero__content p {
    text-align: center;
    font-size: 16px;
    color: #272D38;
    max-width: 375px;
    display: block;
    margin: 0 auto;
    margin-top: 24px;
  }
  .hero__button {
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 48px;
  }
  .hero__image {
    margin: 0 auto;
  }
  .companies {
    margin: 0 auto;
    margin: 120px 24px 0 24px;
    max-width: 775px;
  }
  .companies small {
    display: block;
    margin: 160px auto 0;
    font-size: 16px;
    color: #667085;
    text-align: center;
    margin-bottom: 20px;
  }
  .companies__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #F6F6F6;
    border-radius: 8px;
    padding: 10px 20px;
    gap: 60px;
    max-width: 915px;
    margin: 0 auto;
  }
  .companies__list img {
    height: 30px;
  }
  .branding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 auto;
    margin-top: 80px;
    max-width: 775px;
  }
  .branding__image {
    width: 450px;
    height: 450px;
    margin: 0 auto;
  }
  .branding__content {
    margin: 0 auto;
    margin-top: 75px;
    padding-left: 0;
  }
  .branding__content h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    max-width: 380px;
    text-transform: capitalize;
    color: #272D38;
    text-align: center;
  }
  .branding__content p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
    max-width: 380px;
    text-transform: capitalize;
    line-height: 27.5px;
    text-align: center;
  }
  .custome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    margin-top: 120px;
    max-width: 775px;
  }
  .custome__image {
    width: 450px;
    height: 450px;
    margin: 0 auto;
  }
  .custome__content {
    margin: 0 auto;
    margin-top: 75px;
    padding-left: 0;
  }
  .custome__content h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    max-width: 380px;
    text-transform: capitalize;
    color: #272D38;
    text-align: center;
  }
  .custome__content p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
    max-width: 380px;
    text-transform: capitalize;
    line-height: 27.5px;
    text-align: center;
  }
  .testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 140px;
    max-width: 775px;
  }
  .testimonials__content h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    max-width: 380px;
    text-transform: capitalize;
    color: #272D38;
    text-align: center;
  }
  .testimonials__content p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 16px;
    max-width: 380px;
    text-transform: uppercase;
    line-height: 27.5px;
    text-align: center;
  }
  .testimonials .testimonials__card_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonials .testimonials__card {
    background: #F6F6F6;
    width: 345px;
    padding: 32px;
    margin-bottom: 40px;
    border-radius: 20px;
  }
  .testimonials .testimonials__card img {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  .testimonials .testimonials__card p {
    text-align: center;
    margin-bottom: 28px;
    font-size: 18px;
    font-weight: 400;
  }
  .testimonials .testimonials__card small {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
  }
  .testimonials .testimonials__card:last-child {
    margin-right: 0;
  }
  .contact {
    margin: 0 24px;
  }
  .contact__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #F6F6F6;
    max-width: 775px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 20px;
    padding: 56px 35px;
  }
  .contact__image {
    display: none;
  }
  .contact__content {
    margin: 0 auto;
  }
  .contact__content h2 {
    font-size: 32px;
    font-weight: 700;
    max-width: 310px;
    margin: 0 auto;
    color: #272D38;
    text-align: center;
    margin-bottom: 32px;
  }
  .contact__content p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 390px;
    line-height: 27.5px;
  }
  .contact__button {
    margin: 0 auto;
  }
  .footer {
    margin-top: 140px;
    background: #F6F6F6;
    max-width: 775px;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__menu h4 {
    margin-bottom: 32px;
  }
  .footer__menu {
    margin-right: 0;
    text-align: center;
    list-style: none;
    margin-top: 72px;
  }
  .footer__item {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    font-weight: 300;
  }
  .footer__copyright {
    text-align: center;
    font-size: 12px;
    margin-top: 90px;
  }
  .modal-menu__container.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */