@import "./reset";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}



.modal-menu__container {
    position: fixed;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    padding: 20px 40px;
    right: -4000px;
    top: 0;
    transition: .3s ease-in-out;
}

.modal-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal-menu__item {
    margin-bottom: 30px;
    font-size: 25px;
}

.modal-menu__link {
    text-decoration: none;
    color: #272D38;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 48px;
    background: #8EADD5;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 100px;
    max-width: 1080px;

    &__logo h3 {
        font-size: 20px;
        font-weight: 700;
        color: #272D38;
        text-transform: uppercase;
        z-index: 10;
    }

    &__menu-bars {
        display: none;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    &__item {
        margin-right: 44px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__link {
        font-size: 18px;
        font-weight: 400;
        color: #272D38;
        text-decoration: none;
        text-transform: lowercase;
    }
}


.hero {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    max-width: 1080px;

    &__content {
        margin-top: 32px;
    }

    &__content h1 {
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 25px;
        max-width: 540px;
        text-transform: capitalize;
    }

    &__content p {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 40px;
        max-width: 500px;
        text-transform: capitalize;
    }

    &__image img {
        width: 450px;
        height: 450px;
    }
}

.companies {

    margin: 0 auto;
    max-width: 1080px;

    small {
        display: block;
        margin: 160px auto 0;
        font-size: 16px;
        color:#667085;
        text-align: center;
        margin-bottom: 20px;
    }

    .companies__list {
        display: flex;
        justify-content: space-between;
        background: #F6F6F6;
        border-radius: 8px;
        padding: 10px 20px;
        gap: 60px;
        max-width: 915px;
        margin: 0 auto;
    }
}


.branding {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    margin-top: 140px;
    max-width: 1080px;

    &__image {
        width: 450px;
        height: 450px;
    }

    &__content {
        margin-top: 75px;
        padding-left: 165px;
    }

    &__content h2 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 25px;
        max-width: 435px;
        text-transform: capitalize;
        color: #272D38;
    }

    &__content p {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 40px;
        max-width: 390px;
        text-transform: capitalize;
        line-height: 27.5px;
    }
}


.custome {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    margin-top: 140px;
    max-width: 1080px;

    &__image {
        width: 450px;
        height: 450px;
    }

    &__content {
        margin-top: 80px;
    }

    &__content h2 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 25px;
        max-width: 435px;
        text-transform: capitalize;
        color: #272D38;
    }

    &__content p {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 40px;
        max-width: 390px;
        text-transform: capitalize;
        line-height: 27.5px;
    }
}


.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    margin-top: 140px;
    max-width: 1080px;


    &__content h2 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 38px;
        max-width: 435px;
        text-align: center;
        text-transform: capitalize;
        color: #272D38;
    }

    &__content p {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 16px;
        text-transform: uppercase;
        text-align: center;
        color:#272D38;
    }

    .testimonials__card_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .testimonials__card {
        background: #F6F6F6;
        width: 345px;
        padding: 32px;
        margin-right: 15px;
        border-radius: 20px;
    }

    .testimonials__card img {
        display: block;
        margin: 0 auto;
        margin-bottom: 8px;
    }

    .testimonials__card p {
        text-align: center;
        margin-bottom: 28px;
        font-size: 18px;
        font-weight: 400;
    }

    .testimonials__card small {
        display: block;
        text-align: center;
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
    }

    .testimonials__card:last-child {
        margin-right: 0;
    }
}


.contact {
    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #F6F6F6;
        max-width: 1065px;
        margin: 0 auto;
        margin-top: 140px;
        border-radius: 20px;
        padding: 0 75px;
    }

    &__image {
        width: 450px;
        height: 450px;
    }

    &__content {
        margin-left: 90px;
    }

    &__content h2 {
        font-size: 48px;
        font-weight: 700;
        max-width: 435px;
        color: #272D38;
        margin-bottom: 16px;
    }

    &__content p {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 32px;
        max-width: 390px;
        line-height: 27.5px;
    }
}


.footer {
    margin-top: 140px;
    padding: 105px 180px 18px 180px;
    background: #F6F6F6;

    &__container {
        display: flex;
        justify-content: center;
    }

    &__menu h4 {
        margin-bottom: 40px;
    }

    &__menu {
        margin-right: 180px;
        list-style: none;
    }

    &__menu:first-child {
        max-width: 190px;
    }
    
    &__menu:last-child {
        margin-right: 0;
    }

    &__item {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
        font-weight: 300;
    }

    &__copyright {
        text-align: center;
        font-size: 16px;
        margin-top: 110px;
    }
}


@import "./media-queries";